*{
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

img{
  width: 40px;
  height: 40px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

p {
  font-family: "Didact Gothic";
  color: white;
  font-size: 3em;
}

p:hover{
  color: red;
}

img:hover {
  background-color: red;
}

#mediaPlayer {
  background-color: grey;
  border-radius : 10px;
  width: 95%;
}
